.navbar {
  background-color: rgb(75, 50, 100);
  color: white;
  top: 0px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
}

.app-header {
  margin: 0px 0px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 700;
}
